<a href="https://colab.research.google.com/github/gerberth33/lab-01-19.03/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('sample_data/california_housing_test.csv')

In [10]:
df.head()
df.size

27000

In [11]:
df.shape

(3000, 9)

# Cantidad de cada columnas

In [12]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [18]:
non_num_vars = df.select_dtypes(exclude=['number']).shape[1]

In [19]:
print(f"Cantidad de variables numéricas: {num_vars}")
print(f"Cantidad de variables no numéricas: {non_num_vars}")

Cantidad de variables numéricas: 9
Cantidad de variables no numéricas: 0

In [20]:
missing_values = df.isnull().sum()

In [21]:
missing_values = missing_values[missing_values > 0]

In [22]:
if missing_values.empty:
    print("No hay valores perdidos en el DataFrame.")
else:
    print("Valores perdidos por columna:")
    print(missing_values)

No hay valores perdidos en el DataFrame.

In [23]:
stats = df.describe().T

In [24]:
stats["median"] = df.median()

In [25]:
print(stats)

                     count           mean            std         min  \
longitude           3000.0    -119.589200       1.994936   -124.1800
latitude            3000.0      35.635390       2.129670     32.5600
housing_median_age  3000.0      28.845333      12.555396      1.0000
total_rooms         3000.0    2599.578667    2155.593332      6.0000
total_bedrooms      3000.0     529.950667     415.654368      2.0000
population          3000.0    1402.798667    1030.543012      5.0000
households          3000.0     489.912000     365.422710      2.0000
median_income       3000.0       3.807272       1.854512      0.4999
median_house_value  3000.0  205846.275000  113119.687470  22500.0000

                           25%           50%            75%          max  \
longitude             -121.810    -118.48500    -118.020000    -114.4900
latitude                33.930      34.27000      37.690000      41.9200
housing_median_age      18.000      29.00000      37.000000      52.0000
total_rooms           1401.000    2106.00000    3129.000000   30450.0000
total_bedrooms         291.000     437.00000     636.000000    5419.0000
population             780.000    1155.00000    1742.750000   11935.0000
households             273.000     409.50000     597.250000    4930.0000
median_income            2.544       3.48715       4.656475      15.0001
median_house_value  121200.000  177650.00000  263975.000000  500001.0000

                          median
longitude             -118.48500
latitude                34.27000
housing_median_age      29.00000
total_rooms           2106.00000
total_bedrooms         437.00000
population            1155.00000
households             409.50000
median_income            3.48715
median_house_value  177650.00000